<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .conatainer {
            width: 100%;
            
            padding-top: 200px;
        }

        .card {
            width: 200px;
            height: 200px;
            margin: auto;
            
        }
    </style>
</head>

<body>
    <div class="conatainer">
        <div class="card">
            <ul>
                <li>
                    <a href="http://localhost/signup">sign up</a>
                </li>
                <li>
                    <a href="http://localhost/login">login</a>
                </li>
            </ul>
        </div>
    </div>

</body>

</html>